body {
    background-color: #EDF4FF;
    font-family: Arial, sans-serif;
    color: #07184D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px 150px 150px;
}

#logo {
    width: 142px;
    align-self: flex-start;
}

.logo-placeholder {
    flex: 1;
    text-align: center;
}

.logo-placeholder img {
    max-width: 100%;
    height: auto;
}

.title {
    align-self: flex-start;
    margin-top: 20px;
}

p {
    font-size: 12px;
}

.utm-builder {
    flex: 3;
    width: 100%;
}

.utm-builder h2,
.utm-builder label {
    color: #07184D;
}

.utm-builder input[type="text"],
.utm-builder input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0D2880;
    border-radius: 20px;
    box-sizing: border-box;
}

.utm-builder input[type="text"]:focus, 
.utm-builder input[type="url"]:focus {
    border-color: #9630FF;
    outline: none;
}

.utm-builder button {
    width: calc(100% - 20px);
    padding: 15px 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

button {
    border-radius: 50px;
    background-color: #07184D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #C929FF;
    transform: scale(1.1);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #07184D;
    color: white;
    text-align: center;
    border-top: 2px #07184D;
    padding: 10px 0;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 30px 50px 30px;
    }

    #logo {
        width: 100px;
    }

    .utm-builder button {
        margin: 10px;
    }
}

/* Additional styles for preset buttons */
.preset-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.preset {
    border: none;
    background-color: #C929FF;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
    transition: background-color 0.2s;
}

/* Flash animation for the preset button */
@keyframes flash {
    0% {
        background-color: #f2f2f2;
    }
    50% {
        background-color: #ffc107;
    }
    100% {
        background-color: #f2f2f2;
    }
}

.preset.flash {
    animation: flash 0.5s;
}